# =====================
# OS / Editor files
# =====================
.DS_Store
Thumbs.db
*.swp
*.log

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# Global node ignores
# =====================
node_modules/

# =====================
# Build outputs
# =====================
dist/
build/

# =====================
# Native binaries (canvas, sharp, etc.)
# =====================
*.node
*.dylib
*.so
